body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #FDF1AD, #FFA071);
    overflow: hidden;
    position: relative;
}

.loading-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border: 2px solid white;
    border-radius: 8px;
    width: 75vw;
    height: 75vh;
    text-align: center;
    position: relative;
    z-index: 10;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    width: 100%;
    height: 100%;
    border: none; /* S'assurer qu'il n'y a pas de bordures ajoutant des marges */
    background-color: rgba(255, 255, 255, 0.1);
}

#title {
    position: absolute;
    top: -0.1cm;
    left: 0cm;
    color: white;
    font-size: 48px; /* ajuster la taille de la police */
    font-weight: bold;
    z-index: 20; /* Pour s'assurer qu'il soit au-dessus du canvas */
}
#title-vertical {
    position: absolute; 
    top: 1.3cm;
    left: 0cm;
    color: white;
    font-size: 62px; /* ajuster la taille */
    font-weight: bold;
    line-height: 1; /* Pour ajuster l'espacement entre les lettres */
    z-index: 20;
}
#title-vertical2 {
    position: absolute;
    top: 1.3cm;
    left: 1.5cm;
    color: white;
    font-size: 28px; /* ajuster la taille */
    font-weight: bold;
    line-height: 1; /* Pour ajuster l'espacement entre les lettres */
    z-index: 20;
}
#title2 {
    position: absolute;
    top: 1.2cm;
    left: 2.2cm;
    color: white;
    font-size: 32px; /* ajuster la taille de la police */
    font-weight: bold;
    z-index: 20; /* Pour s'assurer qu'il soit au-dessus du canvas */
}
#title-vertical3 {
    position: absolute;
    top: 0cm;
    left: 4.5cm;
    color: white;
    font-size: 10px; 
    font-weight: bold;
    line-height: 1; /* Pour ajuster l'espacement entre les lettres */
    z-index: 20;
}
#title-vertical4 {
    position: absolute;
    top: 0cm;
    left: 4.9cm;
    color: white;
    font-size: 10px; /* ajuster taille */
    font-weight: bold;
    line-height: 1; /* Pour ajuster l'espacement entre les lettres */
    z-index: 20;
}
#title2 {
    position: absolute;
    top: 1.2cm;
    left: 2.2cm;
    color: white;
    font-size: 32px; /* Double la taille de la police */
    font-weight: bold;
    z-index: 20; /* Pour s'assurer qu'il soit au-dessus du canvas */
}
#title3 {
    position: absolute;
    top: 2.1cm;
    left: 2.2cm;
    color: white;
    font-size: 21px; /* Double la taille de la police */
    font-weight: bold;
    z-index: 20; /* Pour s'assurer qu'il soit au-dessus du canvas */
}
#title-vertical5 {
    position: absolute;
    top: 2.7cm;
    left: 2.6cm;
    color: white;
    font-size: 74px; /* ajuster taille */
    font-weight: bold;
    line-height: 1; /* Pour ajuster l'espacement entre les lettres */
    z-index: 20;
}
#title-vertical6 {
    position: absolute;
    top: 0cm;
    left: 14cm;
    color: white;
    font-size: 15px; /* ajuster taille */
    font-weight: bold;
    line-height: 1; /* Pour ajuster l'espacement entre les lettres */
    z-index: 20;
}
#title-vertical7 {
    position: absolute;
    top: 5cm;
    left: 1.5cm;
    color: white;
    font-size: 40px; /* ajuster taille */
    font-weight: bold;
    line-height: 1; /* Pour ajuster l'espacement entre les lettres */
    z-index: 20;
}
#title4 {
    position: absolute;
    top: 10.2cm;;
    left: 0cm;
    color: white;
    font-size: 27px; /* Double la taille de la police */
    font-weight: bold;
    z-index: 20; /* Pour s'assurer qu'il soit au-dessus du canvas */
}
#title5 {
    position: absolute;
    top: -0.4cm;;
    left: 5.3cm;
    color: white;
    font-size: 94px; /* Double la taille de la police */
    font-weight: bold;
    z-index: 20; /* Pour s'assurer qu'il soit au-dessus du canvas */
}
#title6 {
    position: absolute;
    top: 9.3cm;;
    left: 0cm;
    color: white;
    font-size: 15px; /* Double la taille de la police */
    font-weight: bold;
    z-index: 20; /* Pour s'assurer qu'il soit au-dessus du canvas */
}
#title7 {
    position: absolute;
    top: 9.8cm;;
    left: 0cm;
    color: white;
    font-size: 15px; /* Double la taille de la police */
    font-weight: bold;
    z-index: 20; /* Pour s'assurer qu'il soit au-dessus du canvas */
}
#title-vertical8 {
    position: absolute;
    top: 10.9cm;
    left: 0.1cm;
    color: white;
    font-size: 34px; /* ajuster taille */
    font-weight: bold;
    line-height: 1; /* Pour ajuster l'espacement entre les lettres */
    z-index: 20;
}
#title-vertical9 {
    position: absolute;
    top: 10.9cm;
    left: 0.9cm;
    color: white;
    font-size: 75px; /* ajuster taille */
    font-weight: bold;
    line-height: 1; /* Pour ajuster l'espacement entre les lettres */
    z-index: 20;
}
